
/*
    VNS 导航
*/

.MainNavigation{
    position: relative;
    // 1级导航
    ul.mainNav{
        li.mainMenu{
            float: left;
            width: 105px;
            text-align: center;
            background: transparent;
            position: relative;
            a{
                display: block;
                color: #654203;
                height: 45px;
                font-size: 18px;
                font-weight: 700;
                line-height: 45px;
                i{
                    font-size: 24px;
                    vertical-align: text-bottom;
                }
                &.active{
                    color: #ff0000;
                }
            }
            // Logo在中间
            &:nth-child(6){
                margin-left: 160px;
            }
            // 文字闪烁
            &.flicker{
                &>a{
                    animation: navanimat 1s linear alternate infinite
                }
            }
            &.hot::after{
                content: "";
                width: 21px;
                height: 12px;
                position: absolute;
                top: -2px;
                right: -5px;
                background-size: 100%;
                background-image: url(../images/hot.gif);
                background-repeat: no-repeat;
            }
            &:hover ul.secondNav{
                display: block;
            }
        }
    }
    // 2级导航
    ul.secondNav{
        z-index: 9;
        left: -15px;
        padding-bottom: 5px;
        height: auto;
        display: none;
        position: absolute;
        outline: none;
        top: 100%;
        background: #43280b;
        width: 130px;
        transition: all .5s;
        li{
            color: #fefe98;
            font-size: 15px;
            text-align: center;
            height: 25px;
            line-height: 25px;
            margin: 5px 0;
            cursor: pointer;
            white-space: nowrap;
            position: relative;
            &:hover{
                color: #d9bb61
            }
            &.hot::after{
                content: "";
                position: absolute;
                top: 0;
                right: -10px;
                background: url(../images/hot2.gif) no-repeat;
                width: 30px;
                height: 30px;
            }
        }
    }
}