/*
     ____________________________________________
        前方高能：
            该站点新模板：
                私有样式:

*/

body {
    background: #381f05;
    font-size: 14px;
}
.container{
    width: 1300px;
}
    
    