@charset "utf-8";

body{
    background: #303030;
}
::-webkit-input-placeholder {
    color: #949494 ;
}
::-moz-placeholder {
    color: #949494 ;
}
:-ms-input-placeholder {
    color: #949494 ;
}
:-moz-placeholder {
    color: #949494 ;
}