
/*
    首页优惠活动弹窗 update-by 19/7/6
*/

.promotionAlert.popBox{
  position: fixed;
  z-index: 9999;
  left: 50%;
  margin-left: -300px;
  top: 25%;
  display: none;
  width: 600px;
  box-shadow: 0 0 5px 2px rgba(2,2,2,.8);
  &.popout{
    display: block;
  } 
  //头部
  /*
  .popBox_title{
    padding: 0 10px;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  */

  .popBox_close{
    color: #d2cb4e;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 25px;
    cursor: pointer;
  }
  // 轮播样式

  .swiper-container{
    .swiper-pagination{
      .swiper-pagination-bullet{width: 15px;height: 15px}
      .swiper-pagination-bullet-active{background-color: #A9493A}
    }
  }

  // 内容
  a.mainBody{
    display: block;
    P{
      margin: 0;
    }
    .popBox_body{
      min-height: 400px;
      color: #222;
      background: #fcfcfc;
      img{
        width: 100%;
        font-size: 0;
        float: left;
      }
    }
  }
}
