
// 电竞默认样式
.EsportBG{
    background: #0d0720 url(../images/esport/bg.jpg) center top no-repeat fixed;
    min-height: 1200px;
    .E_sport{
        width: 1300px;
        padding: 20px 0;
        margin: 0 auto;
        .E_SportNav{
            height: 40px;
            text-align: left;
            background: #373737;       
            a{
                position: relative;
                z-index: 16;
                display: inline-block;
                height: 40px;
                padding: 0 20px;
                color: #fff;
                font-size: 16px;
                line-height: 40px;
                text-decoration: none;
                transition: all .5s;
                cursor: pointer;
              &.active{
                background: #af0000;
                color: #ffe000;
              }  
            } 
        }
    }

}
