
.banner .banner-bg .banner-a{
  background: url("./images/banner_a.jpg") no-repeat center 0
}
.header{
  .logo {
    background: url("./images/logo.png") no-repeat center 0
  }
  .nav li a:hover {
    color: #3f0e00;
    background: url("./images/nav-hover.png");
  } 
}