// 修改密码
.EditPassword {

    div,
    a,
    p,
    span {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -khtml-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .scroll-content {
        padding: 0 .3rem;
    }

    form {
        margin: 5% 0;
        padding: .3rem;
        border-radius: .2rem;
        overflow: hidden;
        outline: 0;
        -webkit-box-shadow: 0 0 9px 0 hsla(0, 0%, 57%, .62);
        -moz-box-shadow: 0 0 9px 0 hsla(0, 0%, 57%, .62);
        box-shadow: 0 0 9px 0 hsla(0, 0%, 57%, .62);

        .btn {
            margin: .1rem auto .4rem;
        }

        .am-list-line {
            height: .8rem; // input高度
        }

        .set_withdraw_pwd::after {
            content: "";
            display: table;
            clear: both;
            width: 0;
        }

        .label {
            font-size: .24rem;
            color: #000;
        }
    }

    .am-list-item .am-input-label.am-input-label-5 {
        width: 1.5rem;
    }

    .am-input-item {
        border-bottom: 1px solid rgba(#ccc, .2);
    }
}