
@import "../../style/variables.scss";
// 游戏布局
.AllGamePage{


    .am-search.am-search-start .am-search-input .am-search-synthetic-ph {
        width: auto !important;
        padding-left: .35rem;

        .am-search-value {
            padding:0 .6rem 0 .5rem !important;
        }
    }
    .am-search.am-search-start .am-search-input input[type="search"] {
         padding:0 .5rem 0 .7rem !important;
    }
    .am-search-cancel.am-search-cancel-show {
        height: .88rem;
        line-height: .88rem;
        font-size: .32rem;
    }
    .tabs {
        height: .7rem;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        text-align: left;

        & .tabsCate {

        display: inline-block;
        line-height: .65rem;
        font-size: .25rem;
        padding: 0 .2rem;
        }
        & .active {
            border-bottom: 2px solid $theme-color;
        }
    }
    .listItem{
        box-sizing: border-box;
        width: 25%;
        border: 1px solid #f0f0f0;
        padding: 0 0 25% 0;
        display: inline-block;
        position: relative;  
        img {
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
        }     
        h5{
            font-size: .225rem;
            color: #333;
            margin: .1rem 0 .3rem 0;
            position: absolute;
            top: 69%;
            text-align: center;
            left: 0;
            width: 100%;
        }
        .itemL {
            position: absolute;
            width: 67%;
            left: 0;
            right: 0;
            margin: auto;
            top: 10%;
        }
    }
}

// 加入房间
.IntoRoomClass {
    display: block;
    width: 200px;
    margin: 0 auto;
    border-radius: 0px;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
}