div[data-theme="Brown"]{
    .RegisterNewPage{
        background: none;
        .RegisterContent{
            background: #48331a;
            border: 1px solid #fad660;
            box-shadow: 0 0 3px #000;
            .RegisterTitle{
                border-bottom: 2px solid #c4a852;
                h1,p{
                    color: #fff;
                }
            }
            // 注冊表單
            form{
                // 輸入框
                .InputWrap{
                    >div{
                        input,select.PayPassWord{
                            background-color: #fcfcfc;
                            border: 1px solid #d8b848;     
                            color: #222;           
                        }
                        // 提示语
                        >span{
                            color: #deb66c;
                        }
                    }
                    p{
                        color: #fff;
                    }
                }
                // 提示語
                .checkboxWrap {
                    .RegNotice{
                        color: #fff
                    }
                }
                // 提交
                .ButtonWrap{
                    button{
                        background: #c4a852;
                    }
                }
            }            
        }
    } 
}